
*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url('./../assets/blob-header.svg');
  background-repeat: no-repeat;
  // background-size: contain ;
  // object-fit: contain;
  box-sizing: border-box;
  font-family: Poppins;
}

h1{
  font-size: var(--title-h1);
}
h2{
  font-size: var(--title-h2);
}
h3{
  font-size: var(--title-h3);
}

p{
  font-size: var(--paragraph-1);
}

