@import "./../base/_base.scss";


.CardComponent{
    background: #F2F2F2;
    border-radius: 16px;
    padding: 24px 40px;
    width: 384px;
    margin-right: 64px;
    &:last-child{
        margin-right: 0;
    }
    h3{
        color: #{$neutral-color-1000};
        font-weight: 500;
        line-height: 31px;
    }
    p{
        font-style: italic;
        font-weight: normal;
        line-height: 24px;
        color:#{$neutral-color-1000};
    }
}
