@import "./../base/_base.scss";

.awardsComponent{
    width: 100%;
    .franja2Bg {
        // background-image: url("./../../assets/franja2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
      }
    section{
        position: relative;
        width: $container;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 163px;
       aside{
           display: flex;
           flex-direction: row;
           align-items: center;
       }
       .asideAward{
           width: 365px;
           img{
               margin-right: 20px;
           }
       }
    }
}
