@import "./../base/_base.scss";

.ctaComponent{
    position: relative;
    height: 541px;
    display: flex;
    // margin-top: 131px;
    z-index: 100;
  
    .container{
        width: $container;
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        padding-bottom: 104px;
        @include tablet {
            width: $container-tablet;
          }
        .title{
            width: 340px;
        }
    }
}
.ctaBg{
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
}
