@import "./../base/_base.scss";

.heroComponent {
  width: $container;
  height: 645px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  @include tablet {
    width: $container-tablet;
    flex-direction: column;
    margin-top: 140px;
  }
  @include phone {
    width: $container-phone;
    flex-direction: column;
    height: 490px;
  }
}
.contentHero {
  width: 90%;
  padding-right: 15%;
  @include tablet {
    width: 100%;
    padding-right: 0%;
  }
  @include phone {
    width: 100%;
    padding-right: 0%;
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    color: #031d44;
  }
  p {
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #031d44;
    margin: 24px 0 40px;
    @include phone{
        font-size: 18px; 
    }
    b {
      font-style: italic;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: #084887;
      @include phone{
        font-size: 18px; 
      }
    }
  }
}
.ilusHero {
  width: 459px;
  @include tablet {
    margin-top: 60px;
  }
  @include phone {
    width: 257px;
    margin-top: 24px;
  }
}

.cta-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    margin-left: 36px;
    @include phone {
      margin-left: 24px;
    }
  }
}
