@import "./../base/_base.scss";

.weofferComponent {
  .container {
    position: relative;
    z-index: 1000;
    width: $container;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    padding-top: 75px;
    align-items: center;
    @include tablet {
      width: $container-tablet;
    }
    .title {
      text-align: center;
      color: $neutral-color-1000;
      h2 {
        font-weight: 700;
        
      }
      h3 {
        font-style: italic;
        font-weight: normal;
      }
    }

    .cards {
      padding-top: 56px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
       
      }
    }
  }
  .franjaBg {
    background-image: url("./../../assets/franja.svg");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -197px;
  }
  .outline {
    border: 1px solid #cccccc;
    width: 80%;
    margin-bottom: 73px;
    @include tablet {
      display: none;
    }
  }
}
